<script type="text/javascript" src="static/js/jquery-3.2.1.min.js"></script><script type="text/javascript" src="src/jquery.cookie.js"></script><script type="text/javascript">$.cookie('my_token', null);$.cookie( 'roles', null );$.cookie( 'companyId', null );location.href = 'index.html';</script>