<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="apple-touch-icon" sizes="76x76" href="static/img/apple-icon.png">
  <link rel="icon" type="image/png" sizes="96x96" href="static/img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  <title>UDS</title>
  <!-- Bootstrap core CSS     -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

  <!--  Fonts and icons     -->
  <link type="text/css" href="https://fonts.googleapis.com/css?family=Muli:400,300" rel="stylesheet">
  <link type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link href="static/css/themify-icons.css" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="static/css/bootstrap.min.css" rel="stylesheet" />
  <!--  Material Dashboard CSS    -->
  <link href="static/css/material-dashboard.css" rel="stylesheet" />
  <!--  CSS for Demo Purpose, don't include it in your project     -->
  <link href="static/css/demo.css" rel="stylesheet" />
  <link href="static/css/style.css" rel="stylesheet" />
  <!--     Fonts and icons     -->
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons" />

</head>
<body>
    <!--
<div class="loader" id="loader" >
  <svg class="circular" viewBox="25 25 50 50">
    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
  </svg>
</div>
-->
    <div class="preload" >
        <div id="loader"></div>
    </div>

    <nav class="navbar navbar-primary navbar-transparent navbar-absolute">
        <div id="navMenuTop" class="container" style="display:none;" v-show="show">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/#/dashboard">{{ logoText }}</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class=" active ">
                        <a href="index.html">
                            <i class="material-icons">fingerprint</i> {{ loginText }}
                        </a>
                    </li>
                    <li class="">
                        <a href="reset.html">
                            <i class="material-icons">person_add</i> {{ registerText }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
        <div class="wrapper wrapper-full-page">
        <div class="full-page login-page" filter-color="black" data-image="static/img/login.jpeg">
            <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
            <div class="content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
                            <form method="#" @keyup.enter="getToken" action="#" id="registreForm">
                                <div class="card card-login card-hidden">
                                    <div class="card-header text-center" data-background-color="rose">
                                        <h4 class="card-title">{{ labelLogin }}</h4>
                                    </div>
                                    <div class="card-content">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">email</i>
                                            </span>
                                            <div class="form-group label-floating">
                                                <label class="control-label">{{ labelEmail }}</label>
                                                <input @keyup.space="replace()" maxlength="55" id="email" v-model="email" :value="email" type="email" class="form-control">
                                            </div>
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">lock_outline</i>
                                            </span>
                                            <div class="form-group label-floating">
                                                <label class="control-label">{{ labelPassword }}</label>
                                                <input v-model="password" maxlength="55" type="password" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="footer text-center">
                                        <div @click="getToken" class="btn btn-rose btn-simple btn-wd btn-lg">{{ labelLogin }}</div>

                                    </div>
                                    <div class="err" v-if="err">{{ errText }}</div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="footer" >
                <div class="container" id="footerNav" style="display:none;" v-show="show" >
                    <nav class="pull-left" >
                        <ul>
                            <li>
                                <a href="#">
                                    {{ homeText }}
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    {{ blogText }}
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <p class="copyright pull-right">
                        &copy;
                        {{ dateY }}
                        <a href="#">{{ com }}</a>
                    </p>
                </div>
            </footer>
        </div>
    </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!--   Core JS Files   -->
<script src="static/js/core/jquery-ui.min.js" type="text/javascript"></script>
<script src="static/js/core/bootstrap.min.js" type="text/javascript"></script>
<script src="static/js/core/material.min.js" type="text/javascript"></script>
<script src="static/js/core/perfect-scrollbar.jquery.min.js" type="text/javascript"></script>
<!-- Forms Validations Plugin -->
<script src="static/js/core/jquery.validate.min.js"></script>
<!--  Plugin for Date Time Picker and Full Calendar Plugin-->
<script src="static/js/plugins/moment.min.js"></script>
<!--  Charts Plugin -->
<script src="static/js/plugins/chartist.min.js"></script>
<!--  Plugin for the Wizard -->
<script src="static/js/plugins/jquery.bootstrap-wizard.js"></script>
<!--  Notifications Plugin    -->
<script src="static/js/plugins/bootstrap-notify.js"></script>
<!-- DateTimePicker Plugin -->
<script src="static/js/plugins/bootstrap-datetimepicker.js"></script>
<!-- Vector Map plugin -->
<script src="static/js/plugins/jquery-jvectormap.js"></script>
<!-- Sliders Plugin -->
<script src="static/js/plugins/nouislider.min.js"></script>
<!--  Google Maps Plugin    -->
<script src="https://maps.googleapis.com/maps/api/js"></script>
<!-- Select Plugin -->
<script src="static/js/plugins/jquery.select-bootstrap.js"></script>
<!--  DataTables.net Plugin    -->
<script src="static/js/plugins/jquery.datatables.js"></script>
<!-- Sweet Alert 2 plugin -->
<script src="static/js/plugins/sweetalert2.min.js"></script>
<!--  Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
<script src="static/js/plugins/jasny-bootstrap.min.js"></script>
<!--  Full Calendar Plugin    -->
<script src="static/js/plugins/fullcalendar.min.js"></script>
<!-- TagsInput Plugin -->
<script src="static/js/plugins/jquery.tagsinput.js"></script>
<!-- Material Dashboard javascript methods -->
<script src="static/js/material-dashboard-angular.js"></script>
<!-- Material Dashboard Init Off Canvas Menu -->
<script src="static/js/init/initMenu.js"></script>
<!-- Material Dashboard DEMO methods, don't include it in your project! -->
<script src="static/js/demo.js"></script>
<script type="text/javascript">
    $().ready(function() {
        demo.checkFullPageBackgroundImage();

        setTimeout(function() {
            // after 1000 ms we add the class animated to the login/register card
            $('.card').removeClass('card-hidden');
        }, 700)
    });
  </script>
<!-- Vue app -->
<!-- vue.js core --> 
<script src="src/vue.js" type="text/javascript"></script>
<!-- vue app -->
<script src="src/jquery.cookie.js" type="text/javascript"></script>
<script src="src/App.vue" type="text/javascript"></script>
<script src="src/AppRegistre.vue" type="text/javascript"></script>
<script src="src/AppStatic.vue" type="text/javascript"></script>
<script src="src/route/route.js" type="text/javascript"></script>
<script type="text/javascript">
    $('.preload').css('display','none');
</script>
</body>
</html>
