<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="static/img/apple-icon.png" />
    <link rel="icon" type="image/png" href="static/img/favicon.png" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>UDS</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <!-- Bootstrap core CSS     -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet" />
    <!--  Material Dashboard CSS    -->
    <link href="static/css/material-dashboard2.css?v=1.2.0" rel="stylesheet" />
    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="static/css/demo2.css" rel="stylesheet" />
    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons' rel='stylesheet' type='text/css'>
    <link href="static/css/style.css" rel="stylesheet" />
    <!--   Core JS Files   -->
    <script src="static/js/jquery-3.2.1.min.js" type="text/javascript"></script>
    <script src="src/jquery.cookie.js" type="text/javascript"></script>
    <script src="src/jquery.inputmask.js" type="text/javascript"></script>
    <script src="src/core.js" type="text/javascript"></script>
    <script type="text/javascript"> testToken (); </script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>

<body>
    <div class="preload">
        <div id="loader"></div>
    </div>
    <div class="wrapper" >
        <div class="sidebar" data-color="purple" data-image="static/img/sidebar-1.jpg" >
            <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

        Tip 2: you can also add an image using data-image tag
    -->
            <div class="logo">
                <a href="" class="simple-text">
                    label
                </a>
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav" id="menus" style="display: none;" v-show="show" >
                    <li class="" v-for="me in menu" v-if=" me.role.indexOf( dataRole ) !== -1 || dataRole === '' ">
                        <a :href="me.src" >
                            <i class="material-icons">{{ me.icon }}</i>
                            <p> {{ me.page }}</p>
                        </a>
                        <ul class="nav" v-if="me.submenu != null">
                            <li class="submenu" v-for="sub in me.submenu"  v-if=" sub.role.indexOf( dataRole ) !== -1 || dataRole === '' "> 
                                <a :href="sub.src">
                                    <i class="material-icons">{{ sub.icon }}</i>
                                    <p> {{ sub.page }} </p>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

        <div class="main-panel" >

            <nav class="navbar navbar-transparent navbar-absolute">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#"> Профиль </a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <!--<li>
                                <a href="#pablo" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="material-icons">dashboard</i>
                                    <p class="hidden-lg hidden-md">Dashboard</p>
                                </a>
                            </li>-->
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="material-icons">notifications</i>
                                    <span class="notification">0</span>
                                    <p class="hidden-lg hidden-md">Notifications</p>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>1</li>
                                </ul>
                            </li>
                            <li>
                                <a href="profile.html" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="material-icons">person</i>
                                    <p class="hidden-lg hidden-md">Profile</p>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="profile.html">Профиль клиента</a></li>
                                </ul>
                            </li>
                        </ul>
                        <!--
                        <form class="navbar-form navbar-right" role="search">
                            <div class="form-group  is-empty">
                                <input type="text" class="form-control" placeholder="Search">
                                <span class="material-input"></span>
                            </div>
                            <button type="submit" class="btn btn-white btn-round btn-just-icon">
                                <i class="material-icons">search</i>
                                <div class="ripple-container"></div>
                            </button>
                        </form>
                        -->
                    </div>
                </div>
            </nav>
<!-- -->

            <div class="content" id="procom">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="card">
                                <div style="min-height: 90px;" class="card-stats">
                                        <div class="row">
                                            <div class="col-lg-2 col-md-12 col-sm-12 col-12 " style="min-width: 120px;">
                                                <div class="card-header cardPromoImg"  style="margin: -25px 20px -75px 20px;"
                                                 >
                                                    <div class="item" >
                                                        <span class="labePromoImg"> <svg fill="#000000" height="18" viewBox="0 0 24 24" width="18" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/>
                                                            <path d="M0 0h24v24H0z" fill="none"/>
                                                        </svg>Загрузить</span>
                                                        <input class="download" type="file" @change="sync" name="promoFile" >
                                                        <img :src="imageUrl" id="imageUrl" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" style="float: right; padding-right: 14px; padding-top: 9px; color: purple;">
                                            <div class="col-md-12">
                                                <div class="dateInfoProfileCompany" id="">
                                                    <span>Срок лицензии {{ dateLicense }} </span>
                                                </div>
                                            </div>
                                        </div>
                                    <div class="card-content">

                                    </div>

                                </div>
                                <div class="card-content ">
                                    <form class="profilePanel1">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group label-floating is-empty" id="divnameCompany">
                                                    <label class="control-label">Название компании</label>
                                                    <input id="nameCompany" v-model="nameCompany" maxlength="100" class="form-control" type="text">
                                                    <span class="material-input"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group label-floating is-empty disabled" id="divinn">
                                                    <label class="control-label">ИНН</label>
                                                    <input id="inn" v-model="inn" maxlength="12" class="form-control" type="text" disabled="">
                                                    <span class="material-input"></span>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group label-floating is-empty" id="divTimeP">
                                                    <label class="control-label">Часовой пояс</label>
                                                    <multiselect
                                                        v-model="valueTimeZone"
                                                        deselect-label="Can't remove this value"
                                                        select-label=""
                                                        :placeholder="labelTimeP"
                                                        :options="optionsTimeZone"
                                                        :searchable="true"
                                                        :allow-empty="false"
                                                        :hide-selected="true"
                                                    >
                                                    </multiselect>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group label-floating is-empty" id="divAnotacia">
                                                    <label class="control-label">Анотация</label>
                                                    <input v-model="anotacia" maxlength="100" class="form-control" id="anotacia" type="text">
                                                </div>
                                            </div>
                                        </div>
                                        <!--<div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group label-floating is-empty" id="divEmail">
                                                    <label class="control-label">Веб сайт</label>
                                                    <input v-model="webSuite" maxlength="100" class="form-control"  type="text">
                                                    <span>+</span>
                                                </div>
                                            </div>
                                        </div> -->

                                        <div class="row">
                                            <div class="col-md-6" v-for="( web, key ) of webSuite">
                                                <div  class="form-group label-floating is-empty divSuite" id="divSuite" style="padding-bottom: 0px!important;">
                                                    <label v-show="( key === 0 )" class="control-label">Веб сайт</label>
                                                    <input v-model="web.contactValue" maxlength="100" :id="'webSite' + key " class="form-control"  type="text" style="width: 95%" :click='getData(this)'>
                                                    <span v-if="(String)(web.contactValue).replace(/ /g, '') != '' && ( (key + 1) != webSuite.length )" :id="key"@click="delSuite()" style="float: right; margin-top: -30px; cursor: pointer; color:#9c27b0; margin-right: 5px;">✕</span>
                                                    <span v-if="(key + 1) == webSuite.length" @click="addSuite()" style="float: right; margin-top: -30px; cursor: pointer; font-size: 14pt; color:#9c27b0; margin-right: 5px;">+</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div  class="form-group label-floating is-empty" id="divCategoryLeft">
                                                    <label style="margin-top: -17px; font-size: 11px;" class="control-label">Категории</label>
                                                    <select size="4" id="selectCategoryLeft" :disabled="valueCategoryRight.length > 2" >
                                                        <option v-for="( val, key ) of valueCategoryLeft" @click="pushRightCategory( key )" >{{ val.name }}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div  class="form-group label-floating is-empty" id="divCategoryRight">
                                                    <label style="margin-top: -17px; font-size: 11px;" class="control-label">Категории</label>
                                                    <select size="4">
                                                        <option v-for="( val, key ) of valueCategoryRight" @click="pushLeftCategory( key )">{{ val.name }}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group label-floating is-empty">
                                                    <label class="control-label">о компании</label>
                                                    <input id="oCompany" maxlength="256" class="form-control" v-model="oCompany" type="text">
                                                    <span class="material-input"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <a type="submit" @click="saveProfile()" class="btn btn-primary pull-right">Сохранить<div class="ripple-container"></div></a>
                                        <div class="clearfix"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>


<!-- vue.js core --> 
<script src="src/vue.js" type="text/javascript"></script>
<!-- pack multiselect-->
<script src="https://unpkg.com/vue-multiselect@2.0.6"></script>
<link rel="stylesheet" href="https://unpkg.com/vue-multiselect@2.0.6/dist/vue-multiselect.min.css">

<script src="src/AppMenu.vue" type="text/javascript"></script>
<script src="src/AppProcom.vue" type="text/javascript"></script>
<script src="static/js/bootstrap.min.js" type="text/javascript"></script>
<script src="static/js/material.min.js" type="text/javascript"></script>
<!--  Charts Plugin -->
<script src="static/js/chartist.min.js"></script>
<!--  Dynamic Elements plugin -->
<script src="static/js/arrive.min.js"></script>
<!--  PerfectScrollbar Library -->
<script src="static/js/perfect-scrollbar.jquery.min.js"></script>
<!--  Notifications Plugin    -->
<script src="static/js/bootstrap-notify.js"></script>
<!--  Google Maps Plugin    -->
<!-- Material Dashboard javascript methods -->
<script src="static/js/material-dashboard.js?v=1.2.0"></script>
<!-- Material Dashboard DEMO methods, don't include it in your project! -->
<script src="static/js/demo2.js"></script>
<script type="text/javascript">
    $('.preload').css('display','none');

</script>
<style type="text/css">
    /*
     * wat?
     */
    select {
        width: 100%;
        height: 180px!important;
        border: 1px solid #D2D2D2;
        border-radius: 4px;
    }
    select option {
        height: 35px;
        font-size: 16pt;
        padding: 4px;
        padding-left: 16px;
        border-bottom: 1px solid #d2d2d2;
    }
    .col-md-6 {
        padding-left: 5px!important;
        padding-right: 5px!important;
    }
    @media (max-width: 480px), (max-width: 767px){
        .form-group .form-control {
            width: 100%!important;
        }
    }
    @media (max-width: 990px){
        .modal2 {
            left: 24%!important;
        }
    }
    .category {
        width: 95%;
        height: 40px;
        overflow: hidden;
    }
    .title {
        overflow: hidden;
    }
    .modalback
    {
        height: 1000%;
    }
</style>
</html>