<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="static/img/apple-icon.png" />
    <link rel="icon" type="image/png" href="static/img/favicon.png" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>UDS</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <!-- Bootstrap core CSS     -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet" />
    <!--  Material Dashboard CSS    -->
    <link href="static/css/material-dashboard2.css?v=1.2.0" rel="stylesheet" />
    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="static/css/demo2.css" rel="stylesheet" />
    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons' rel='stylesheet' type='text/css'>
    <link href="static/css/style.css" rel="stylesheet" />
    <!--   Core JS Files   -->
    <script src="static/js/jquery-3.2.1.min.js" type="text/javascript"></script>
    <script src="src/jquery.cookie.js" type="text/javascript"></script>
    <script src="src/jquery.inputmask.js" type="text/javascript"></script>
    <script src="src/core.js" type="text/javascript"></script>
    <script type="text/javascript"> testToken (); </script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>

<body>
    <div class="preload">
        <div id="loader"></div>
    </div>
    <div class="wrapper" >
        <div class="sidebar" data-color="purple" data-image="static/img/sidebar-1.jpg" >
            <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

        Tip 2: you can also add an image using data-image tag
    -->
            <div class="logo">
                <a href="http://www.creative-tim.com" class="simple-text">
                    label
                </a>
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav" id="menus" style="display: none;" v-show="show" >
                    <li class="" v-for="me in menu" v-if=" me.role.indexOf( dataRole ) !== -1 || dataRole === '' ">
                        <a :href="me.src" >
                            <i class="material-icons">{{ me.icon }}</i>
                            <p> {{ me.page }}</p>
                        </a>
                        <ul class="nav" v-if="me.submenu != null">
                            <li class="submenu" v-for="sub in me.submenu"  v-if=" sub.role.indexOf( dataRole ) !== -1 || dataRole === '' "> 
                                <a :href="sub.src">
                                    <i class="material-icons">{{ sub.icon }}</i>
                                    <p> {{ sub.page }} </p>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

        <div class="main-panel" >
            <div class="profile" >
                <div class="modalBackFirstStart" v-if="modalBackFirstStart" ></div>
                <div class="modalback" v-if="panelEditorProfile" ></div>
                
                <div class="alert alert2 alert-danger" v-show="errorCreateAlert">
                    <button type="button" aria-hidden="true" class="close" @click="
                    errorCreateAlert=false; 
                    panelEditorProfile=false;
                    " >×</button>
                        <span>
                            {{ createError }}
                        </span>
                </div>

                <div class="card-content" v-show="goodAlert" id="goodAlert" style="display:none;" >
                    <div class="alert alert-success"  >
                        <button type="button" aria-hidden="true" @click="goodAlert=false"  class="close">×</button>
                            <span>{{ labelSucces }}</span>
                    </div>
                </div>
            </div>

            <nav class="navbar navbar-transparent navbar-absolute">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#"> Профиль </a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <!--<li>
                                <a href="#pablo" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="material-icons">dashboard</i>
                                    <p class="hidden-lg hidden-md">Dashboard</p>
                                </a>
                            </li>-->
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="material-icons">notifications</i>
                                    <span class="notification">0</span>
                                    <p class="hidden-lg hidden-md">Notifications</p>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>1</li>
                                </ul>
                            </li>
                            <li>
                                <a href="profile.html" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="material-icons">person</i>
                                    <p class="hidden-lg hidden-md">Profile</p>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="profile.html">Профиль клиента</a></li>
                                </ul>
                            </li>
                        </ul>
                        <!--
                        <form class="navbar-form navbar-right" role="search">
                            <div class="form-group  is-empty">
                                <input type="text" class="form-control" placeholder="Search">
                                <span class="material-input"></span>
                            </div>
                            <button type="submit" class="btn btn-white btn-round btn-just-icon">
                                <i class="material-icons">search</i>
                                <div class="ripple-container"></div>
                            </button>
                        </form>
                        -->
                    </div>
                </div>
            </nav>
<!-- -->

            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="card">
                                <div style="min-height: 90px;" class="card-stats">
                                    <div id="app" class="card-header" data-background-color="purple">
                                        <div class="item">
                                            <!--<a class="btn" @click="toggleShow3">аватара</a>-->
                                                <img class="avatar" @click="toggleShow3" :src="avatarUrl3" v-show="true">
                                                <!-- 1 -->
                                                <my-upload url="https://httpbin.org/post"
                                                    field="avatar3"
                                                    key="0"
                                                    lang-type="ru"
                                                    :value.sync="show3"
                                                    :params="otherParams"></my-upload>
                                        </div>
                                    </div>
                                    <div class="card-content" style="float: left;">
                                        <div class="titleСhanged">
                                            <h3 class="title">Профиль</h3>
                                        </div>

                                    </div>

                                </div>
                                <div class="card-content ">
                                    <form class="profilePanel1" @keyup.space="delSpace()">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group label-floating is-empty" id="divSurName">
                                                    <label class="control-label">Фамилия</label>
                                                    <input maxlength="100" class="form-control" id="surName" v-model="surName" type="text">
                                                <span class="material-input"></span></div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group label-floating is-empty" id="divFerstName">
                                                    <label class="control-label">Имя</label>
                                                    <input maxlength="100" class="form-control" id="firstName" v-model="firstName" type="text">
                                                <span class="material-input"></span></div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group label-floating is-empty" id="divmName">
                                                    <label class="control-label">Отчество</label>
                                                    <input v-model="mName" maxlength="100" id="mName" class="form-control" type="text">
                                                <span class="material-input"></span></div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group label-floating is-empty" id="divEmail">
                                                    <label class="control-label">Email</label>
                                                    <input maxlength="100" class="form-control" id="eMail" v-model="eMail" type="text">
                                                <span class="material-input"></span></div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group label-floating is-empty" id="divPhone">
                                                    <label class="control-label">Телефон</label>
                                                    <input maxlength="100" class="form-control" id="phoneNumber"  type="text">
                                                <span class="material-input"></span></div>
                                            </div>
                                        </div>
                                        <div class="row" v-show="showId">
                                            <div class="col-md-12">
                                                <div class="form-group label-floating is-empty">
                                                    <label class="control-label">Внейшний ID</label>
                                                    <input maxlength="100" class="form-control" id="externalId" v-model="externalId" type="text">
                                                    <span class="material-input"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <a type="submit" @click="editProfile()" class="btn btn-primary pull-right">Update Profile<div class="ripple-container"></div></a>
                                        <div class="clearfix"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
<!-- -->
            <div id="profileChangePassword" class="content" style="margin-top: -50px;">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="card">
                                <div class="card-header" data-background-color="purple">
                                    <h4 class="title">Изменить пароль </h4>
                                </div>
                                <form @keyup.space="delSpace()">
                                    <div class="card-content">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group label-floating is-empty">
                                                        <label class="control-label">Старый пароль</label>
                                                        <input maxlength="100" v-model="oldPass" class="form-control" type="password">
                                                    <span class="material-input"></span></div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12" >
                                                    <div class="form-group label-floating is-empty" id="divNewPass" >
                                                        <label class="control-label">Новый пароль</label>
                                                        <input maxlength="100" v-model="newPass" class="form-control" type="password">
                                                    <span class="material-input"></span></div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group label-floating is-empty" id="divNewPass2">
                                                        <label class="control-label">Подтвердите новый пароль </label>
                                                        <input maxlength="100" v-model="newPass2" class="form-control" type="password">
                                                    <span class="material-input"></span></div>
                                                </div>
                                            </div>
                                            
                                            <a @click="changePassword" type="submit" class="btn btn-primary pull-right">Update Profile<div class="ripple-container"></div></a>
                                            <div class="clearfix"></div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
<!-- -->
        </div>
</body>


<!-- vue.js core --> 
<script src="src/vue.js" type="text/javascript"></script>
<script type="text/javascript">
    console.log($.cookie('my_token'));

</script>

<!-- pack multiselect-->
<script src="https://unpkg.com/vue-multiselect@2.0.6"></script>
<link rel="stylesheet" href="https://unpkg.com/vue-multiselect@2.0.6/dist/vue-multiselect.min.css">

<script src="src/AppMenu.vue" type="text/javascript"></script>
<script src="src/AppProfile.vue" type="text/javascript"></script>
<script src="src/demo-src.js" type="text/javascript"></script>
<script src="static/js/bootstrap.min.js" type="text/javascript"></script>
<script src="static/js/material.min.js" type="text/javascript"></script>
<!--  Charts Plugin -->
<script src="static/js/chartist.min.js"></script>
<!--  Dynamic Elements plugin -->
<script src="static/js/arrive.min.js"></script>
<!--  PerfectScrollbar Library -->
<script src="static/js/perfect-scrollbar.jquery.min.js"></script>
<!--  Notifications Plugin    -->
<script src="static/js/bootstrap-notify.js"></script>
<!--  Google Maps Plugin    -->
<!-- Material Dashboard javascript methods -->
<script src="static/js/material-dashboard.js?v=1.2.0"></script>
<!-- Material Dashboard DEMO methods, don't include it in your project! -->
<script src="static/js/demo2.js"></script>
<script type="text/javascript">
    $('.preload').css('display','none');
            //_.userId = $.cookie('my_token');
    $("#phoneNumber").inputmask("+7(999)999-99-99");
    profilePanel1.getProfile();
    if ( $.cookie( 'roles') === "RETAILER" ) profilePanel1.showId = true;

</script>

</html>