<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="static/img/apple-icon.png" />
    <link rel="icon" type="image/png" href="static/img/favicon.png" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>UDS</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <!-- Bootstrap core CSS     -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet" />
    <!--  Material Dashboard CSS    -->
    <link href="static/css/material-dashboard2.css?v=1.2.0" rel="stylesheet" />
    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="static/css/demo2.css" rel="stylesheet" />
    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons' rel='stylesheet' type='text/css'>
    <link href="static/css/style.css" rel="stylesheet" />
    <!--   Core JS Files   -->
    <script src="static/js/jquery-3.2.1.min.js" type="text/javascript"></script>
    <script src="src/jquery.cookie.js" type="text/javascript"></script>
    <script src="src/jquery.inputmask.js" type="text/javascript"></script>
    <script src="src/core.js" type="text/javascript"></script>
    <script type="text/javascript"> testToken (); </script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>

<body>
    <div class="preload">
        <div id="loader"></div>
    </div>
    <div class="wrapper" >
        <div class="sidebar" data-color="purple" data-image="static/img/sidebar-1.jpg" >
            <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

        Tip 2: you can also add an image using data-image tag
    -->
            <div class="logo">
                <a href="" class="simple-text">
                    label
                </a>
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav" id="menus" style="display: none;" v-show="show" >
                    <li class="" v-for="me in menu" v-if=" me.role.indexOf( dataRole ) !== -1 || dataRole === '' ">
                        <a :href="me.src" >
                            <i class="material-icons">{{ me.icon }}</i>
                            <p> {{ me.page }}</p>
                        </a>
                        <ul class="nav" v-if="me.submenu != null">
                            <li class="submenu" v-for="sub in me.submenu"  v-if=" sub.role.indexOf( dataRole ) !== -1 || dataRole === '' "> 
                                <a :href="sub.src">
                                    <i class="material-icons">{{ sub.icon }}</i>
                                    <p> {{ sub.page }} </p>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

        <div class="main-panel" >

            <nav class="navbar navbar-transparent navbar-absolute">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#"> Профиль </a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <!--<li>
                                <a href="#pablo" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="material-icons">dashboard</i>
                                    <p class="hidden-lg hidden-md">Dashboard</p>
                                </a>
                            </li>-->
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="material-icons">notifications</i>
                                    <span class="notification">0</span>
                                    <p class="hidden-lg hidden-md">Notifications</p>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>1</li>
                                </ul>
                            </li>
                            <li>
                                <a href="profile.html" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="material-icons">person</i>
                                    <p class="hidden-lg hidden-md">Profile</p>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="profile.html">Профиль клиента</a></li>
                                </ul>
                            </li>
                        </ul>
                        <!--
                        <form class="navbar-form navbar-right" role="search">
                            <div class="form-group  is-empty">
                                <input type="text" class="form-control" placeholder="Search">
                                <span class="material-input"></span>
                            </div>
                            <button type="submit" class="btn btn-white btn-round btn-just-icon">
                                <i class="material-icons">search</i>
                                <div class="ripple-container"></div>
                            </button>
                        </form>
                        -->
                    </div>
                </div>
            </nav>
<!-- -->

            <div class="content" id="prom">
                <input type="file" @change="sync" />
            </div>
            </div>
        </div>
</body>
<script src="src/vue.js" type="text/javascript"></script>
<script type="text/javascript">
    var rx = new Vue({
        el: '#prom',
        data:{image:'',},
        methods: {
            sync (e) {
                e.preventDefault();
                this.image = e.target.files[0];
                console.warn('11');
                            e.preventDefault();
            this.image = e.target.files[0];
            reader = new FileReader();
            reader.onload = function (e) {
                console.log( e.target.result );

              //photoList.imageUrl = e.target.result;
            }
            reader.readAsDataURL(this.image);
            }
        }
    });
</script>

<!-- vue.js core --> 

<!-- pack multiselect-->
<script src="https://unpkg.com/vue-multiselect@2.0.6"></script>
<link rel="stylesheet" href="https://unpkg.com/vue-multiselect@2.0.6/dist/vue-multiselect.min.css">

<script src="src/AppMenu.vue" type="text/javascript"></script>

<script src="static/js/bootstrap.min.js" type="text/javascript"></script>
<script src="static/js/material.min.js" type="text/javascript"></script>
<!--  Charts Plugin -->
<script src="static/js/chartist.min.js"></script>
<!--  Dynamic Elements plugin -->
<script src="static/js/arrive.min.js"></script>
<!--  PerfectScrollbar Library -->
<script src="static/js/perfect-scrollbar.jquery.min.js"></script>
<!--  Notifications Plugin    -->
<script src="static/js/bootstrap-notify.js"></script>
<!--  Google Maps Plugin    -->
<!-- Material Dashboard javascript methods -->
<script src="static/js/material-dashboard.js?v=1.2.0"></script>
<!-- Material Dashboard DEMO methods, don't include it in your project! -->
<script src="static/js/demo2.js"></script>
<script type="text/javascript">
    $('.preload').css('display','none');

</script>

</html>