<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="static/img/apple-icon.png" />
    <link rel="icon" type="image/png" href="static/img/favicon.png" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>UDS</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <!-- Bootstrap core CSS     -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet" />
    <!--  Material Dashboard CSS    -->
    <link href="static/css/material-dashboard2.css?v=1.2.0" rel="stylesheet" />
    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="static/css/demo2.css" rel="stylesheet" />
    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons' rel='stylesheet' type='text/css'>
    <link href="static/css/style.css" rel="stylesheet" />
    <link href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" ref="stylesheet" />
    <!--   Core JS Files   -->
    <script src="static/js/jquery-3.2.1.min.js" type="text/javascript"></script>
    <script src="src/jquery.cookie.js" type="text/javascript"></script>
    <script src="src/jquery.inputmask.js" type="text/javascript"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.js" type="text/javascript"></script>
    <script src="src/core.js" type="text/javascript"></script>
    <script type="text/javascript"> testToken (); </script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>

<body>
    <div class="preload">
        <div id="loader"></div>
    </div>


    
    <div class="wrapper" >
        <div class="sidebar" data-color="purple" data-image="static/img/sidebar-1.jpg" >
            <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

        Tip 2: you can also add an image using data-image tag
    -->
            <div class="logo">
                <a href="http://www.creative-tim.com" class="simple-text">
                    label
                </a>
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav" id="menus" style="display: none;" v-show="show" >
                    <li class="" v-for="me in menu" v-if=" me.role.indexOf( dataRole ) !== -1 || dataRole === '' ">
                        <a :href="me.src" >
                            <i class="material-icons">{{ me.icon }}</i>
                            <p> {{ me.page }}</p>
                        </a>
                        <ul class="nav" v-if="me.submenu != null">
                            <li class="submenu" v-for="sub in me.submenu"  v-if=" sub.role.indexOf( dataRole ) !== -1 || dataRole === '' "> 
                                <a :href="sub.src">
                                    <i class="material-icons">{{ sub.icon }}</i>
                                    <p> {{ sub.page }} </p>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

        <div class="main-panel" id='Retailer' >
            <div class="modalBackFirstStart" v-if="modalBackFirstStart" ></div>
            <div class="modalback" v-if="panelEditorRetailer" ></div>
            
            <div class="card-content" v-show="goodAlert" id="goodAlert" style="display:none;" >
                <div class="alert alert-success"  >
                    <button type="button" aria-hidden="true" class="close">×</button>
                        <span>{{ labelSucces }}</span>
                </div>
            </div>

            <nav class="navbar navbar-transparent navbar-absolute">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#"> Список реселлеров </a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <!--<li>
                                <a href="#pablo" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="material-icons">dashboard</i>
                                    <p class="hidden-lg hidden-md">Dashboard</p>
                                </a>
                            </li>-->
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="material-icons">notifications</i>
                                    <span class="notification">0</span>
                                    <p class="hidden-lg hidden-md">Notifications</p>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>1</li>
                                </ul>
                            </li>
                            <li>
                                <a href="profile.html" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="material-icons">person</i>
                                    <p class="hidden-lg hidden-md">Profile</p>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="profile.html">Профиль клиента</a></li>
                                </ul>
                            </li>
                        </ul>
                        <!--
                        <form class="navbar-form navbar-right" role="search">
                            <div class="form-group  is-empty">
                                <input type="text" class="form-control" placeholder="Search">
                                <span class="material-input"></span>
                            </div>
                            <button type="submit" class="btn btn-white btn-round btn-just-icon">
                                <i class="material-icons">search</i>
                                <div class="ripple-container"></div>
                            </button>
                        </form>
                        -->
                    </div>
                </div>
            </nav>
            <div class="content" v-show="tableRetailer" style="display:none;" >
                <div class="container-fluid" >
                    <div class="row">
                        <div class="col-md-12">

                            <div class="card card-stats">
                                <div style="min-height: 90px;">
                                    <div class="card-header" data-background-color="purple">
                                        <i class="material-icons">content_copy</i>
                                    </div>
                                    <div class="card-content" style="float: left;">
                                        <div class="titleСhanged">
                                            <h3 class="title">{{ lableTable }}</h3>
                                        </div>
                                        <span @click="CreateRetailer" class="btnSpecial" >{{ labelCreate }}</span>

                                    </div>
                                    <div class="navbar-form navbar-right specialSearch" >
                                        
                                        <!--<form role="search">-->
                                            <div class="form-group  is-empty">
                                                <input v-model="searchArea" type="text"  class="form-control searchMobile" placeholder="Search">
                                                <span class="material-input"></span>
                                            </div>
                                        <!--</form>-->
                                    
                                    </div>
                                    <!--<div class="card-content">
                                        <div class="navbar-form navbar-left">
                                        <multiselect 
                                            v-model="counNews"
                                            :options="optionCountNews"
                                            :searchable="false"
                                            :close-on-select="true"
                                            :show-labels="false"
                                            :allow-empty="false"
                                            :hide-selected="true"
                                            placeholder="Pick a value"
                                            @Input="paginator( dataRetailerTmpMemory, page, counNews)"
                                        >
                                        </multiselect>
                                        </div>
                                    </div>-->
                                </div>
                                <div class="card-content table-responsive">
                                    <table class="table miniTable" v-if="dataPagination.length != 0">
                                        <thead class="text-primary" >
                                            <th @click="sortName" v-for="tab in theadTable" :width="tab.width">{{ tab.name }}</th>
                                        </thead>
                                        <tbody>
                                            <tr v-for="resale in dataRetailer">
                                                <td @click="editRetailer(resale)">
                                                    <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-simple btn-xs">
                                                        <i class="material-icons">edit</i>
                                                    </button>
                                                </td>
                                                <td>{{ ( resale.firstName )? resale.firstName : empty }}</td>
                                                <td>{{ ( resale.surName )? resale.surName : empty}}</td>
                                                <td>{{ ( resale.eMail )? resale.eMail : empty }}</td>
                                                <td>{{ ( resale.companyName )? resale.companyName : empty }}</td>
                                                <td>{{ ( resale.iNN )? resale.iNN : empty }}</td>
                                                <td>{{ ( resale.phoneNumber  && resale.phoneNumber.replace(/\s/g, '') != '')? resale.phoneNumber : empty }}</td>
                                                <td>{{ (resale.nonExpiringLicense)? 'Бессрочная' : ( 
                                                    ( resale.licenseExpireAt )? ( ( dateObj > ( new Date( ( ( resale.licenseExpireAt ).substr(0, 10) ).substr( 0, 10 ) ) ) )? 'Истекла': 'До ' + ( resale.licenseExpireAt ).substr(0, 10) ): empty 
                                                ) }}</td><!-- Лютый хак -->
                                                <!--<td><div class="checkbox">
                                                        <label >
                                                            <input @click="fastEnabledUser(resale) "type="checkbox" name="optionsCheckboxes" v-model="resale.nonExpiringLicense">
                                                        </label>
                                                    </div>
                                                </td>-->
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div v-if="dataPagination.length == 0" class="voidContent" >
                                        <span> {{ labelVoid }} </span>
                                    </div>
                                </div>

                                <div class="card-footer" v-if="dataPagination.length != 0">
                                    <div class="stats leftInformerofPaginator">
                                        <span> {{ startNav }} - {{ endNav }} из {{ realViewElement }} записей </span>
                                    </div>
                                    <div  class="navbar-form navbar-right centerMobilaNavBar" style="padding-right: 28px;">
                                        <ul class="paginator" >
                                            <li>
                                                <span @click="paginator( dataRetailerTmpMemory, 1, counNews)" >{{ labelPagination[0].first }}</span>
                                            </li>
                                            <li>
                                                <span @click="( ( page - 1 ) >= 1 )? paginator( dataRetailerTmpMemory, page - 1, counNews) : '' " >{{ labelPagination[0].back }}</span>
                                            </li>
                                            <li v-for="pag in dataPagination" @click="paginator( dataRetailerTmpMemory, pag, counNews)"  >
                                                <span :class="(pag === page)? 'activePage': ''" >{{ pag }}</span>
                                            </li>
                                            <li>
                                                <span @click="( (page+1) <= Math.ceil( dataRetailerTmpMemory.length / counNews ) )? paginator( dataRetailerTmpMemory, page + 1, counNews) : '' "  >{{ labelPagination[0].next }}</span>
                                            </li>
                                            <li>
                                                <span @click="paginator( dataRetailerTmpMemory, Math.ceil( dataRetailerTmpMemory.length / counNews ), counNews)" >{{ labelPagination[0].last }}</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- start editor -->

            <div class="modal2" v-show="panelEditorRetailer" style="display:none;">

                <div class="alert alert-danger" v-show="errorCreateAlert">
                    <button type="button" aria-hidden="true" class="close" @click="closeErrorAlert(errorCreateAlert)" >×</button>
                        <span>
                            {{ createError }}
                        </span>
                </div>

            <div class="content">

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header" data-background-color="purple">
                                    <h4 class="title">{{ labelEditor }}</h4>
                                    <!--<p class="category"></p>-->
                                </div>
                                <div class="card-content">
                                    <form class="mobileForm">
                                        <!-- panel activity-->
                                        <!-- panel name -->

                                        <div class="row">

                                            <div class="col-md-6">
                                                <div id="divEmail" class="form-group label-floating">
                                                    <label class="control-label">{{ labelEmail }}</label>
                                                    <input type="email" id="email" v-model="eMail" class="form-control">
                                                </div>
                                            </div>
                                            
                                            <div class="col-md-6">
                                                <div id="divCompanyName" class="form-group label-floating">
                                                    <label class="control-label">{{ labelCompanyName }}</label>
                                                    <input type="text" maxlength="100" id="companyName" v-model="dataCompanyName" class="form-control">
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">

                                            <div class="col-md-6">
                                                <div id="divSurName" class="form-group label-floating">
                                                    <label class="control-label">{{ labelSurName }}</label>
                                                    <input type="text" maxlength="100" v-model="surName" class="form-control">
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div id="divFerstName" class="form-group label-floating">
                                                    <label class="control-label">{{ labelFerstName }}</label>
                                                    <input type="text" maxlength="100" v-model="firstName" class="form-control">
                                                </div>
                                            </div>
                                        
                                        </div>
                                        <div class="row">

                                            <div class="col-md-6">
                                                <div id="divPhone" class="form-group label-floating">
                                                    <label class="control-label">{{ labelPhone }}</label>
                                                    <input type="tel" maxlength="256" id="phone" class="form-control">
                                                </div>
                                            </div>
                                            
                                            <div class="col-md-6">
                                                <div id="divINN" class="form-group label-floating">
                                                    <label class="control-label">{{ labelINN }}</label>
                                                    <input type="text" id="editINN" maxlength="12" v-model="dataINN" class="form-control">
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row">
                                            
                                            <div class="col-md-6">
                                                <div id="divDate" class="form-group label-floating">
                                                    <label class="control-label">{{ labelLicenseDate }}</label>
                                                    <input :disabled="(dataLicenseActive == '')? false : dataLicenseActive" type="text" id="dataLicenseDate" class="form-control" >
                                                </div>
                                                <!--<input type="text" data-type="date" />
<div id="material-header-holder" style="display:none">
  <div class="ui-datepicker-material-header">
    <div class="ui-datepicker-material-day">
    </div>
    <div class="ui-datepicker-material-date">
      <div class="ui-datepicker-material-month">
      </div>
      <div class="ui-datepicker-material-day-num">
      </div>
      <div class="ui-datepicker-material-year">
      </div>
    </div>
  </div>
</div>
-->
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group label-floating">
                                                    <div class="checkbox inline" style="padding-left: 10px;">
                                                        <label>
                                                            <input type="checkbox" v-model="dataLicenseActive" name="optionsCheckboxesEditor">
                                                        </label>
                                                    </div>
                                                    <div class="inline">
                                                        <label class="control-label2" :style="(dataLicenseActive == '')? '' : ( ( dataLicenseActive )? 'color:black;' : ''  )" >{{ labelLicenseActiveTmp }}</label>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        <a @click="cancelEditor" class="btn btn-primary pull-left">{{ labelBack }}</a>
                                        <a @click="pushNewDataRetailer" class="btn btn-primary pull-right" v-if="btnUpdateProfile">{{ labelUpdate }}</a>
                                        <a @click="pushNewRetailer" class="btn btn-primary pull-right" v-if="btnCreateUser">{{ labelCreate }}</a>
                                        <div class="clearfix"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

                    <!-- end editor -->
    </div>
</body>

<!-- vue.js core --> 
<script src="src/vue.js" type="text/javascript"></script>
<script type="text/javascript">
    GetCities();
</script>

<!-- pack multiselect-->
<script src="https://unpkg.com/vue-multiselect@2.0.6"></script>
<link rel="stylesheet" href="https://unpkg.com/vue-multiselect@2.0.6/dist/vue-multiselect.min.css">

<script src="src/AppMenu.vue" type="text/javascript"></script>

<script src="src/AppRetailer.vue" type="text/javascript"></script>
<script src="src/pagination.js" type="text/javascript"></script>
<script src="static/js/bootstrap.min.js" type="text/javascript"></script>
<script src="static/js/material.min.js" type="text/javascript"></script>
<!--  Charts Plugin -->
<script src="static/js/chartist.min.js"></script>
<!--  Dynamic Elements plugin -->
<script src="static/js/arrive.min.js"></script>
<!--  PerfectScrollbar Library -->
<script src="static/js/perfect-scrollbar.jquery.min.js"></script>
<!--  Notifications Plugin    -->
<script src="static/js/bootstrap-notify.js"></script>
<!--  Google Maps Plugin    -->
<!-- Material Dashboard javascript methods -->
<script src="static/js/material-dashboard.js?v=1.2.0"></script>
<!-- Material Dashboard DEMO methods, don't include it in your project! -->
<script src="static/js/demo2.js"></script>
<script type="text/javascript">
    $('.preload').css('display','none');
    $("#phone").inputmask("+7(999)999-99-99");
    $( function() {
        $( "#dataLicenseDate" ).datepicker( {
            dateFormat: "yy-mm-dd",
            minDate: +7, 
            // maxDate: "+1M +10D" 
        });
    });
    $("#dataLicenseDate").inputmask("9999-99-99");
</script>

</html>